<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <article>
                <header>
                    <h2>Име: {{fullName}}</h2>
                </header>

                <p>
                    Email: {{email}}
                </p>

            </article>
        </div>
    </div>
</div>
